*{
    margin: 0;
    padding: 0;
}
.App{
    text-align: center;
    overflow-x: hidden;
}

form{
    display:block;
    flex-direction: column;
    margin: auto;
    width:300px;
    border:3px dashed rgb(192, 191, 191);
    padding:10px;
    overflow-x: hidden;
    border-radius: 10px;
    background-color: inherit;
}
h3,p{
    color:rgb(2, 2, 2);

}
input ,textarea{
    font-size: 20px;
    outline: none;
    margin:10px;
    padding:3px;
    border:none;
    border-bottom: 4px solid rgb(255, 102, 31);
    word-break: break-all; 
}

button{
    width:100px;
    margin: auto;
    border: none;
    background-color: #1ed760;
    border-radius: 10px;
    color:white;
    padding: 10px;
    margin-bottom: 8px;
}

.note{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px;
    border-radius: 10px;
    margin:20px auto;
    width:400px;
    min-height:300px;
    color:black;
    background-color: #fffffF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    overflow: hidden;
    
}

#node-id{
    background-color: #ff0bf3;
    padding:10px;
    /* border-radius:5px; */
    color:rgb(255, 255, 255);
    font-size: 20px;
    margin-bottom:5px;
}
.all-notes{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.navbar{
    width:auto;
    height:80px;
    background-color: #191414;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}